# Task:  
 1. Load model, scaler and encoders
 2. preprocess input data

In [18]:
import tensorflow
from tensorflow import keras
from tensorflow.keras.models import load_model
import pickle
import pandas as pd
import numpy as np

In [19]:
# Example input data

input_data = {
  'CreditScore': 600,
  'Gender': 'Male',
  'Age': 40,
  'Tenure': 3,
  'Balance': 60000,
  'NumOfProducts': 2,
  'HasCrCard': 1,
  'IsActiveMember': 1,
  'EstimatedSalary': 50000,
  'Geography': 'France',
}

# Load model, scaler and encoders

In [20]:
# Load the model
model_path = '../assets/churn_model.h5'
model = load_model(model_path)

# Load the scaler
scaler_path = '../assets/scaler.pkl'
with open(scaler_path, 'rb') as scaler_file:
    scaler = pickle.load(scaler_file)

# Load the label encoder
encoders_path = '../assets/label_encoder.pkl'
with open(encoders_path, 'rb') as encoders_file:
    le = pickle.load(encoders_file)

# Load the one-hot encoder
ohe_path = '../assets/one_hot_encoder.pkl'
with open(ohe_path, 'rb') as ohe_file:
    ohe = pickle.load(ohe_file)

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

# Preprocess input data

In [21]:
df = pd.DataFrame(input_data, index=[0])
df.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography
0,600,Male,40,3,60000,2,1,1,50000,France

## Encoding geography and gender using one hot encoder and label encoder

In [22]:
ohe_geo = ohe.transform(df[['Geography']])

geo_features = ohe.get_feature_names_out(['Geography'])

df.drop(['Geography'], axis=1, inplace=True)
df = pd.concat([df, pd.DataFrame(ohe_geo.toarray(), columns=geo_features)], axis=1)

In [23]:
df.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,Male,40,3,60000,2,1,1,50000,1.0,0.0,0.0

In [24]:
df['Gender'] = le.transform(df[['Gender']])
df.head()

c:\Users\ADMiN\Desktop\ai\churn-ann\.venv\Lib\site-packages\sklearn\preprocessing\_label.py:132: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,1,40,3,60000,2,1,1,50000,1.0,0.0,0.0

## Scaling the input data

In [25]:
df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,1,40,3,60000,2,1,1,50000,1.0,0.0,0.0

In [26]:
df = scaler.transform(df)
df

array([[-0.53598516,  0.91324755,  0.10479359, -0.69539349, -0.25781119,
         0.80843615,  0.64920267,  0.97481699, -0.87683221,  1.00150113,
        -0.57946723, -0.57638802]])

# Predict

In [27]:
'Yes' if model.predict(df) > 0.5 else 'No'

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 72ms/step

'No'

In [32]:
le.transform(['Male'])

array([1])